#map {
    height: 80%;
    width: 75%;
    

   }
   html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  /* animal list  */
  ul {
      float:left;
      font-size: 100%;
      font-weight: 600;
      margin-right: 2%;
      
  }
  body {
      background-color: #00b33c;
      font-family: 'Cinzel', serif;

  }
  /* Woodland Park Zoo Header */
  h1 {
    font-family: 'Cinzel', serif;
    font-size: 200%;
  }